<img src="{{ album_details.album_logo }}">
<h1>{{ album_details.album_title }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'music:favorite' album_details.id%} " method="post">
{% csrf_token %}
{% for song in album_details.song_set.all %}
    <input type="radio" name="song" value="{{ song.id }}">
    <label >{{ song.song_title }}  --  --{% if song.favorite %} Favorite {% endif %}</label><br>
{% endfor %}
<input type="submit" value="Vote">
</form>


